.Sessions {
  margin-top: 67px;
  overflow-y: auto;
}

.Sessions .description {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-black);
  font-size: 24px;
}

.Sessions .days {
  padding: 0 30px;

  display: flex;
  flex-direction: column;

  margin-bottom: 147px;
}

.Sessions .day {
  margin-bottom: 23px;
}

.Sessions .date {
  margin-bottom: 22px;

  font-size: 20px;
}

.Sessions .showtimes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Sessions .showtime {
  background-color: var(--app-orange);

  height: 43px;
  width: 83px;

  margin-right: 8px;

  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Sessions .showtime a {
  text-decoration: none;

  color: #fff;
  font-size: 18px;
}

.Sessions .footer {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 117px;
  width: 100%;

  padding: 10px;

  background-color: var(--footer-bg);

  border: 1px solid var(--footer-border);

  display: flex;
  align-items: center;
}

.Sessions .footer .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 89px;
  width: 64px;

  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  margin-right: 14px;

  background-color: #fff;
}

.Sessions .footer img {
  height: 72px;
  width: 48px;
}

.Session .footer .movie-title {
  color: var(--text-black);
  font-size: 26px;
}

/* ******* Loading screen ******* */

.Sessions.--loading {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f1f2f3;
}

.Sessions.--loading img {
  width: initial;
}