.Movies {
  margin-top: 67px;
}

.Movies .description {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-black);
  font-size: 24px;
}

.Movies .container {
  padding: 0 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3px;
  margin-right: 3px;
}

.Movies .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 209px;
  width: 145px;

  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.Movies img {
  height: 193px;
  width: 129px;
}

/* ******* Loading screen ******* */

.Movies.--loading {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f1f2f3;
}

.Movies.--loading img {
  width: initial;
}