.Seats {
  margin-top: 67px;
  margin-bottom: 147px;

  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Seats .description {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-black);
  font-size: 24px;
}

.Seats .seats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Seats .seat {
  height: 26px;
  width: 26px;

  margin-right: 7px;
  margin-bottom: 16px;

  background-color: #bbb;
  border: solid 1px var(--border-grey);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
}

.Seats .seat:last-child {
  margin-right: 0;
}

/* ******* Seats Caption ******* */

.Seats .seats-caption {
  display: flex;
  align-items: center;

  margin-bottom: 41px;
}

.Seats .seat.--selected {
  background-color: var(--selected-green);
  border: solid 1px var(--border-green);
}

.Seats .seat.--unavailable {
  background-color: var(--unavailable-yellow);
  border: solid 1px var(--border-yellow);
}

.Seats .caption-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 27px;
}

.Seats .caption-option:last-child {
  margin-right: 0;
}

.Seats .caption-description {
  font-size: 13px;
  color: var(--text-black);
}

/* ******* Data input form ******* */

.Seats .data-input {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Seats .data-input label {
  color: var(--text-black);
  font-size: 18px;

  margin-bottom: 8px;

  display: inline-block;
  align-self: flex-start;
}

.Seats .data-input input {
  border: solid 1px var(--border-grey);
  outline: none;

  height: 51px;
  width: 100%;

  padding: 0 18px;

  display: flex;
  align-items: center;

  margin-bottom: 7px;

  font-size: 18px;
}

.Seats .data-input input::placeholder {
  color: var(--border-grey);
}

.Seats .data-input button {
  color: #fff;
  background-color: var(--app-orange);

  border: none;
  border-radius: 3px;

  height: 42px;

  padding: 0 36px;

  margin: 30px auto 15px
}

/* ******* Footer ******* */

.Seats .footer {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 117px;
  width: 100%;

  padding: 10px;

  background-color: var(--footer-bg);

  border: 1px solid var(--footer-border);

  display: flex;
  align-items: center;
}

.Seats .footer .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 89px;
  width: 64px;

  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  margin-right: 14px;

  background-color: #fff;
}

.Seats .footer img {
  height: 72px;
  width: 48px;
}

.Session .footer .movie-title {
  color: var(--text-black);
  font-size: 26px;
}

/* ******* Loading screen ******* */

.Seats.--loading {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f1f2f3;
}

.Seats.--loading img {
  width: initial;
}