.Seats {
  margin-top: 67px;
  margin-bottom: 147px;

  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Seats .description {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-black);
  font-size: 24px;
}

.Seats .seats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Seats .seat {
  height: 26px;
  width: 26px;

  margin-right: 7px;
  margin-bottom: 16px;

  background-color: #bbb;
  border: solid 1px var(--border-grey);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
}

.Seats .seat:last-child {
  margin-right: 0;
}

.Seats .seats .seat:hover,
.Seats a:hover {
  cursor: pointer;
}


/* ******* Seats Caption ******* */

.Seats .seats-caption {
  display: flex;
  align-items: center;

  margin-bottom: 41px;
}

.Seats .seat.--selected {
  background-color: var(--selected-green);
  border: solid 1px var(--border-green);
}

.Seats .seat.--unavailable {
  background-color: var(--unavailable-yellow);
  border: solid 1px var(--border-yellow);
}

.Seats .caption-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 27px;
}

.Seats .caption-option:last-child {
  margin-right: 0;
}

.Seats .caption-description {
  font-size: 13px;
  color: var(--text-black);
}