.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--header-bg);

  font-size: 34px;

  width: 100%;
  height: 67px;
}

.Header a {
  text-decoration: none;
}

.Header h1 {
  color: var(--app-orange);
}